{% extends "todo_main/base.html" %}

{% block title %}Task List{% endblock %}

{% block content %}

<div class="card shadow-lg p-4">
    
    <h3 class="mb-4">My Tasks</h3>

    <form method="post" class="d-flex gap-2 mb-4">
        {% csrf_token %}
        <input type="text" name="task" class="form-control" placeholder="Enter task..." required>
        <button class="btn btn-success">Add</button>
    </form>

    {% if todos %}
        <ul class="list-group">
            {% for todo in todos %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
        
                    {% if todo.completed %}
                        <span class="text-decoration-line-through text-muted">
                             {{ todo.task }}
                        </span>
                    {% else %}
                        {{ todo.task }}
                    {% endif %}

                    <div>
                        <a href="{% url 'toggle' todo.id %}" class="btn btn-info btn-sm">
                            {% if todo.completed %}Undo{% else %}Done{% endif %}
                        </a>

                        <a href="{% url 'edit' todo.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'delete' todo.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">No tasks available.</p>
    {% endif %}

</div>

{% endblock %}